[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
migrate = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
sqlalchemy-serializer = "*"
ipdb = "*"
flask-restful = "*"
werkzeug = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.10"
